@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
.svg-icon{
    width: 130px;
    margin:30px 60px;
}

/* css for the overall div */
.container{
    max-height: 560vh;
    /* border: 2px solid rgb(192, 200, 47); */
    width: auto;
    font-family: 'Roboto', sans-serif;
}

/* css for this first div in the first section */
.container .first_section{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)),url('../img/background3.jpeg') center/cover no-repeat fixed;
    max-height: 90vh;
    /* uncomment to check */
    /* border:2px solid green; */
}

/* css for the navbar */
.container .first_section .navbar {
    /* uncomment to check */
    /* border: 2px solid paleturquoise; */
    width: 100%;
    max-height: 20vh;
}

/* css for the side navbar */
.container .first_section .navbar .side{
    /* uncomment to check */
    /* border: 2px solid rgb(155, 233, 9); */
    width:35%;
    float: right;
    margin:25px 60px;
}
.container .first_section .navbar .side select,
.container .first_section .navbar .side button{
    border-radius: 3px;
    color: white;
    padding: 12px;
    text-decoration: none;
    min-width: 30%;
    cursor: pointer;
}
.container .first_section .navbar .side select,
.container .first_section .navbar .side .mybtn{
    border: 1px solid #e50914; 
    background-color: transparent;
}

.container .first_section .navbar .side button{
    background-color: #e50914;
    border: none;
    margin-left: 15px;
}

/* css for this second div in the first section*/
.container .second_container{
    height:70vh;
    flex-direction:column;
    color: white;
    /* uncomment to check */
    /* border: 2px solid rgb(255, 0, 225); */
    gap: 30px;
}
.container .second_container, 
.container .second_container .span{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container .second_container .headers{
    /* uncomment to check */
    /* border: 2px solid blue; */
}
.container .second_container h1{ 
    font-size: 50px;
}
.container .second_container h3{
    font-size: 25px;
    margin-top: 20px;
}
.container .second_container p{
    font-size: 20px;
}
.container .second_container .span{
    /* uncomment to check */
    /* border: 2px solid yellowgreen; */
    flex-direction:row;
    margin:0  auto;
}
.container .second_container .email{
    color: rgb(255, 255, 255);
    border-radius: 1px 0px 0px 1px;
    background-color: transparent;
    border: 1px solid #e50914;
    padding: 24.5px;
    width: 33%; 
    cursor: pointer;
}
.container .second_container .email::placeholder{
    color: rgb(255, 255, 255);
}
.container .second_container .submit{
    min-width: 12%;
    padding: 20px;
    background-color: #e50914;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.container hr{
    /* background-color: #a86064; */
    background-color: rgb(80, 0, 0);
    border: none;
    height:1%;
}
/* second section */
.container .container1,
.container .container2,
.container .container3,
.container .container4{
    height: 60vh;
    /* uncomment this to check */
    /* border:2px solid rgb(0, 36, 128); */
    background-color: black;
    color: white;
}
.container .container1 section{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.container .container1 section .video_cont1{
    display: flex;
    flex-direction: row;
}
.container .container1 section .video_cont1 img{
    width: 70vh;
    position: absolute;
}
.container .container1 section .video_cont1 video{
    width: 53.5vh;
    z-index: 0.4;
    margin: 84px 73px;
}

/* third section */
.container .container2 section,
.container .container3 section,
.container .container4 section{
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    /* margin:40px auto; */
    
}

.container .container2 section .img_cont1 img,
.container .container3 section .img_cont2 img{
    width: 65vh;
    margin: auto;
}

/* fourth section */
.container .container4 section .img_cont3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: relative;
}

.container .container4 section .img_cont3 img{
    width: 60vh;
    margin: auto;
}
.container .container4 section .img_cont3 .downloadable{
    width: 20vw;
    height: 10.5vh;
    border: 2px solid #585858;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    position: absolute;
    background-color: black;
    bottom: 5%;

}
.container .container4 section .img_cont3 .downloadable img{
    width: 47px;
}
.container .container4 section .img_cont3 .downloadable .img{
    margin: 10px;
}
.container .container4 section .img_cont3 .downloadable .download{
    margin-right: 10px;
}

/* headers for the first, second, third and fourth sections */

.container .container1 h1,
.container .container2 h1,
.container .container3 h1,
.container .container4 h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.container .container1 h3,
.container .container2 h3,
.container .container3 h3,
.container .container4 h3
{
    font-size: 1.5rem;
    line-height: 2rem;
}


/* fifth section */
.container .container5 {
    max-height: 130vh;
    /* border:2px solid rgb(2, 221, 229); */
    background-color: black;
    color: white;
}
.container .container5 section{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.container .container5 section h1{
    text-align: center;
    font-size: 50px;
    padding-top: 70px;
}
.container .container5 section .section{
    /* border: 2px solid #e50914; */
    width: 60vw;
    height: 60vh;
    margin: auto;
}
.container .container5 section .section span h2{
    display: inline;
}
.container .container5 section .section span{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    /* margin-bottom: 10px; */
    background-color: rgb(48, 48, 48);
}

/* email body */
.container .container5 section .body_email{
    width: 70vw;
    height: 20vh;
    /* border: 2px solid rgb(0, 94, 255); */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:20px;
    font-size: 20px;
}
.container .container5 .body_email .span{
    /* border: 2px solid green; */
    width: 50vw;
    display: flex;
    justify-content: center;
}
.container .container5 span .email{
    color: rgb(255, 255, 255);
    border-radius: 1px 0px 0px 1px;
    background-color: transparent;
    border: 1px solid #e50914;
    padding: 25px;
    width: 33vw; 
    cursor: pointer;
}
.container .container5 span .email::placeholder{
    color: rgb(255, 255, 255);
}

.container .container5 span .submit{
    min-width: 12vw;
    padding: 20px;
    background-color: #e50914;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}


/* footer body */
.container .footer{
    color:rgb(115, 115, 115);
    height: 40vh;
    /* border:2px solid rgb(255, 0, 51); */
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
} 

/* footer */
.container .footer p{
    padding-left: 5%;
    /* border: 2px solid red; */
    width: 70vw;
}
.container .footer p:last-child{
    font-size: 12px;
    font-weight: 200;
}
.container .footer .footer_list{
    display: flex;
    /* border: 2px solid red; */
    width: 70vw;
}
.container .footer .footer_list ul,
.container .footer .footer_list ul li {
    list-style-type: none;
    padding:9px 20px;
    font-size: 12px;
}

/* the back button */
.container .footer button{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-color: #e5091443;
    border: none;
    position: fixed;
    bottom: 5%;
    left: 92%;
    /* z-index: 0.9; */
}
.container .footer button a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.container .footer button:hover{
    background-color: #e5091472;
}


/* MEDIA QUERYYYYYYY */
@media(max-width:1140px){
    .container .container1 section,
    .container .container2 section,
    .container .container3 section,
    .container .container4 section
    {
        max-height: 80vh;
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    .container .container1 section{
        gap:30px;
    }
    .container .container1 section .header_cont1 h1,
    .container .container2 section .header_cont2 h1,
    .container .container3 section .header_cont2 h1,
    .container .container4 section .header_cont2 h1{
        font-size: 35px;
        text-align: center;
    }
    .container .container1 section .header_cont1 h3,
    .container .container2 section .header_cont2 h3,
    .container .container3 section .header_cont2 h3,
    .container .container4 section .header_cont2 h3
    {
        font-size: 25px;
        text-align:center;
    }
    .container .container1 section .video_cont1 img,
    .container .container2 section .img_cont1 img,
    .container .container3 section .img_cont2 img,
    .container .container4 section .img_cont3 img
    {
        width: 38vw;
    }
    .container .container1 section .video_cont1 .video{
        width: 27.5vw;
        /* margin:8px; */
        margin:69px 57px;
    }

    .container .container4 section .img_cont3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        position: relative;
    }
    .container .container4 section .img_cont3 .downloadable{
        width: 27vw;
        height: 9vh;  
    
    }
    .container .container1 section,
    .container .container3 section{
        flex-direction: column-reverse;
    }
}